<header class="h-screen">
  <nav class="absolute z-50 w-full text-secondary-normal">
    <ul class="flex justify-center mx-32 my-2 text-6xl sm:justify-between ">
      <li>
        <a target="blank" title="Github" href="https://github.com/PolSust">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </li>
      <li class="flex">
        <!-- <button id="lang">

          <i class="fas fa-language"></i>
          <ul class="sousMenu">
            <li>ESP</li>
            <li>ENG</li>
            <li>FRE</li>
          </ul>
        </button> -->
        <a class="mx-2" target="blank" title="Curriculum vitae" id="cv" href="files/cvPolSust.pdf">
          <img id="cv" class="w-16" src="assets/img/cv.svg" alt="CV">
        </a>
        <a class="mx-2" target="blank" title="LinkedIn" href="https://www.linkedin.com/in/pol-sust/">
          <fa-icon [icon]="faLinkedIn"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
  <div id="bgFigure" class="absolute top-0 w-full h-screen bg-primary-light">
    <div class="relative text-center top-1/3">
      <h1 class="text-secondary-normal text-8xl">P<span class="animate-bounce-light">O</span>L SU<span>S</span>T</h1>
      <span class="w-full h-5 bg-"></span>
      <h2 id="description" class="text-6xl text-white">Développeur Web</h2>
    </div>
  </div>
</header>
<div id="separator" class="w-full h-5 mb-10"></div>