.frontend
  // transition: all 0.3s ease-in-out
  // // width: 50px
  // &:hover
  //   width: 100px
.textOver
  bottom: -1px
figure
  transition: all 0.3s ease-in-out
  transition-property: transform, box-shadow
// .shadow-innerXll
//   box-shadow: inset 0px 8px 5px rgba(0, 0, 0, 0.062)
//   background-color: rgba(0, 0, 0, 0.075)
