<app-header></app-header>

<main class="container flex flex-col items-center w-full m-auto overflow-hidden lg:w-11/12">
  <app-presentation></app-presentation>
  <app-competences class="w-full mt-10"></app-competences>

  <section class="w-full">
    <h2 class="m-5 text-5xl text-center text-secondary-normal">Mes Projets</h2>
    <div *ngFor="let project of projects; index as i">

      <app-project *ngIf="i % 2 != 0; else reversed" class="flex justify-start" [reverse]="false" [project]="project">
      </app-project>

      <ng-template #reversed>
        <app-project class="flex justify-end" [reverse]="true" [project]="project"></app-project>
      </ng-template>

    </div>
  </section>
</main>

<app-footer></app-footer>