@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

*,*::before,*::after
  box-sizing: border-box

img
  max-width: 100%
  height: auto

::-webkit-scrollbar
  width: 15px

::-webkit-scrollbar-track
  background: #5796e4

::-webkit-scrollbar-thumb
  background: #f1f1f1

::-webkit-scrollbar-thumb:hover
  background: #17242a

body
  // background: linear-gradient(143deg, #90b4e1, #487ebb, #3b7cc5)
  background-color: #2d7bd4
  background-size: 600% 600%

  animation: gradient 31s ease infinite

@keyframes gradient
  0%
    background-position: 0% 51%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 51%

#separator
  background-color: #84B1E3

/* front */
.html
  color: #e54c21

.css
  color: #264de4

.bootstrap
  color: #563e7c

.tailwind
  color: #06b6d4

.sass
  color: #ce679a

.js
  color: #efd81d

.ts
  color: #2f74c0
  border-radius: 5px

.jquery
  color: #1066a9

.angular
  color: #c3002f

.ionic
  color: #488aff

.react
  color: #61dbfb

/* back */
.php
  color: #8993c1

.sql
  color: #00758f

.nodejs
  color: #689f63

.wordpress
  color: #207196

.firebase
  color: #ffcb2d
