<figure>
  <div class="relative z-10 flex justify-center top-5">
    <img class="shadow-xl border-20 border-primary-lighter rounded-2xl animate-bounce-light" src="assets/img/pp.png"
      alt="">
  </div>
  <figcaption #figcaption class="p-5 text-lg font-semibold leading-8 bg-primary-light rounded-2xl text-secondary-normal"
    [ngClass]="{'show': isInView() && !alreadyAnimated,'figcaptionStart': !alreadyAnimated}">
    <h3>Bonjour !</h3>

    <p>
      Je m'appelle Pol, j'ai <span id="age">19</span> ans.
    </p>
      <p>Je suis Espagnol et actuellement j'habite en France.</p>
      <p>J'aime développer des applications web.</p>
    <p>
      Mes technologies favoris sont React, Typescript et TailwindCSS.
    </p>
  </figcaption>
</figure>